body{
    background: grey;
}
.rouge{
    border: 2px solid red;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:20%;
    left: 20%;
    animation:2s;
}
.rouge2{
    background: red;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:20%;
    left: 20%;
}

.bleu{
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:20%;
    left: 60%;
    animation:2s;
}
.bleu2{
    background: blue;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:20%;
    left: 60%;
}
.jaune{
    border: 2px solid yellow;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:60%;
    left: 20%;
    animation:2s;
}
.jaune2{
    background: yellow;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:60%;
    left: 20%;
}
.vert{
    border: 2px solid green;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:60%;
    left: 60%;
    animation:2s;
}
.vert2{
    background: green;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    position: absolute;
    top:60%;
    left: 60%;
}
.start{
    position: absolute;
    background: black;
    color: white;   
    border: 2px solid black;
    border-radius: 50%;
    top: 10%;
    left: 20%;
    width: 150px;
    height: 50px;
}
.restart{
    position: absolute;
    background: black;
    color: white;   
    border: 2px solid black;
    border-radius: 50%;
    top: 10%;
    left: 65%;
    width: 150px;
    height: 50px;
}
.rules{
    position: absolute;
    background: black;
    color: white;   
    border: 2px solid black;
    border-radius: 20%;
    top: 2%;
    left: 97%;
}
.compteur{
    position: absolute;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius:50%;
    top: 50%;
    left: 45%;
    background:black;
    text-align: center;
    color: white;
}
.modalRules{
    position: absolute;
    width:auto ;
    height: auto;
    display: none;
    z-index: 999;
    left: 10%;
}
.close {
    position: absolute;
  color:black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  left: 98%;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.nbrClick{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 40%;
    background:black;
    color: white;
    border-radius: 10%;
    text-align: center;
    border:1px solid white;
}
.nbrTour{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    background:black;
    color: white;
    border-radius: 10%;
    text-align: center;
    border:1px solid white;
}
.Joueur{
    position: absolute;
    top: 10%;
    left: 45%;
    color: black;
    text-align: center;
    display: none;
}
.modalFin{
    width: auto;
    height: auto;
    position: relative;
    display: none;
}